<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span th:text="#{pacote_adquirido.listar.label}"></span>
					</li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/compras/cadastrar}" role="button"> 
					<span class="oi oi-plus" title="Cadastro" aria-hidden="true"></span> 
					<span th:text="#{pacote_adquirido.cadastrar.label}"></span>
				</a>
			</div>
		</nav>
		
		<div class="container" id="listagem">

			<div th:replace="fragments/alert"></div>

			<div class="table-responsive">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th class="bg-warning">#</th>
							<th class="bg-warning" th:text="#{pacote_adquirido.status.label}"></th>
							<th class="bg-warning" th:text="#{pacote.agencia.label}"></th>
							<th class="bg-warning" th:text="#{pacote.data_partida.label}"></th>
							<th class="bg-warning" th:text="#{pacote.duracao.label}"></th>
							<th class="bg-warning" th:text="#{pacote.descricao.label}"></th>
							<th class="bg-warning" th:text="#{pacote.cidade.label}"></th>
							<th class="bg-warning" th:text="#{pacote.estado.label}"></th>
							<th class="bg-warning" th:text="#{pacote.pais.label}"></th>
							<th class="bg-warning" th:text="#{pacote.valor.label}"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="pacote_adquirido : ${pacote_adquirido}">
							<td th:text="${pacote_adquirido.id}"></td>
							<td th:text="${pacote_adquirido.status}"></td>
							<td th:text="${pacote_adquirido.pacote.agenica.nome}"></td>
							<td th:text="${pacote_adquirido.pacote.data_partida}"></td>
							<td th:text="${pacote_adquirido.pacote.duracao}"></td>
							<td th:text="${pacote_adquirido.pacote.descricao}"></td>
							<td th:text="${pacote_adquirido.pacote.cidade}"></td>
							<td th:text="${pacote_adquirido.pacote.estado}"></td>
							<td th:text="${pacote_adquirido.pacote.pais}"></td>
							<td th:text="|R$ ${#numbers.formatDecimal(pacote_adquirido.pacote.valor,2,2,'COMMA')}|"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div th:replace="fragments/modal :: modal"></div>
	</section>
</body>
</html>
